*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0 auto 0 12px;
  max-width: 1500px;
  padding: 16px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 1500px;
  padding: 16px;
  border-radius: 10px;


  & input,
  select {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
    min-width: 150px;
  }

  & button {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
  }
}
#modal-btn {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  &:hover {
    cursor: pointer;
    background-color: #9198e5;
    color: white;
  }
}
/* imported card */
/* From Uiverse.io by JohnnyCSilva */
.card {
  min-width: 225px;
  max-width: 300px;
  height: 265px;
  background: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.2s ease-in-out;
  margin-right: 12px;
  margin-bottom: 12px;

}

.img {
  width: 100%;
  height: 50%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: linear-gradient(#e66465, #9198e5);
  display: flex;
  align-items: top;
  justify-content: right;
}

.save {
  transition: 0.2s ease-in-out;
  border-radius: 10px;
  margin: 20px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.save .svg {
  transition: 0.2s ease-in-out;
  width: 15px;
  height: 15px;
}

.icon-box {
  margin-top: 15px;
  width: 70%;
  padding: 10px;
  background-color: #e3fff9;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-box svg {
  width: 17px;
}

.text .h3 {
  font-family: 'Lucida Sans' sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: black;
  margin-bottom: 6px;

}

.text .p {
  font-family: 'Lucida Sans' sans-serif;
  color: #999999;
  font-size: 13px;
  font-style: italic;
}

.icon-box .span {
  margin-left: 10px;
  font-family: 'Lucida Sans' sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #9198e5;
}



.save:hover {
  transform: scale(1.1) rotate(90deg);
  cursor: pointer;
  background-color: red;
  color: #ffffff;
}

.save:hover .svg {
  fill: #ced8de;
}

/* imported card - end */
aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 250px;

  padding: 16px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


  & h1 {
    text-align: center;
    font-family: 'Lucida Sans' sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #9198e5;
    margin: 30px;
  }
}
dialog {
  width: 300px;
  border-radius: 10px;
  border: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.close-btn-container {
  display: flex;
  align-items: top;
  justify-content: right;
}
